repos:
    - repo: https://github.com/ambv/black
      rev: 22.6.0
      hooks:
          - id: black
            args:
                - "--line-length=120"
    - repo: https://github.com/pycqa/flake8
      rev: 7.0.0
      hooks:
          - id: flake8
            args:
                - "--max-line-length=120"
                - "--ignore=E203,E731,F401,F403,W503"
    - repo: https://github.com/pycqa/isort
      rev: 5.12.0
      hooks:
          - id: isort
            args: ["--profile", "black", "--filter-files", "--line-length=120"]